{% extends 'base.html.twig' %}

{% block title %}Exceptio - Réalisations{% endblock %}

   {% block stylesheets %}
       <link rel="stylesheet" href="{{ asset('assets/css/Realisation.css') }}">
   {% endblock %}

{% block body %}
    <div class="BlackScreen roboto">

        <div class="Center">


            <a href="{{ path('app_conseil') }}">
                <div class="Box font_universLight">
                    <span class="Titre font_UniversClassic">CONSEIL</span> <br> <br>
                    STRATÉGIE <br>
                    CONCEPTS & CONTENUS <br>
                    RECHERCHE DE NOMS <br>
                    RÉALISATION TECHNIQUE

                    <div class="Ribbon">
                        &nbsp;
                    </div>

                </div>
            </a>

            <a href="{{ path('app_graphisme_communication') }}">
                <div class="Box Calage_box font_universLight">
                    <span class="Titre font_UniversClassic">GRAPHISME & <br> COMMUNICATION</span> <br> <br>
                    IDENTITÉ VISUELLE<br>
                    HABILLAGE & PACKAGING <br>
                    RÉDACTIONNEL <br>
                    ÉDITION <br>
                    SITE INTERNET & RÉSEAUX SOCIAUX

                    <div class="Ribbon Calage_ribbon">
                        &nbsp;
                    </div>

                </div>
            </a>

            <a href="{{ path('app_illustration') }}">
                <div class="Box font_universLight">
                    <span class="Titre font_UniversClassic">ILLUSTRATION</span> <br> <br>
                    CRÉATION <br>
                    DESSIN HISTORIQUE <br>
                    RESTAURATION D'IMAGES <br>
                    ILLUSTRATION NUMÉRIQUE

                    <div class="Ribbon">
                        &nbsp;
                    </div>

                </div>
            </a>

            <a href="{{ path('app_audiovisuel') }}">
                <div class="Box font_universLight">
                    <span class="Titre font_UniversClassic">AUDIOVISUEL</span> <br> <br>
                    PHOTOS <br>
                    FILMS <br>
                    PRISES DE VUES DRONE <br>
                    MOTION DESIGN


                </div>
            </a>

        </div>

        <a href="{{ path('app_confiance') }}">
            <p class="confiance ">Ils nous ont fait confiance</p>
        </a>


    </div>

{% endblock %}
